
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #5f5f5f;
    background-color: rgb(249, 248, 248);
}
/*navigationn bar*/

nav{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #2c2c2c;
    box-shadow: 0 4px 13px 5px rgba(0, 0, 0, 0.1); 
    padding: 23px;
    z-index: 1;

}
.navbar-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }
.nav-item, .nav-logo, .nav-link{
    display: inline;
    margin: 0 10px;
    padding: 20px 15px;
    color: black;
    font-size: 15px;
    outline: none;
    font-weight:600;
    text-decoration: none;
}
.nav-linkk{
  display: inline;
  margin: 0 10px;
  padding: 20px 15px;
  color: rgb(44, 44, 44);
  font-size: 17px;
  font-weight: 700;
  outline: none;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
.nav-item{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.nav-item img{
  width: 30px;
  margin: 0%;
  padding: 0%;
}

  .navbar a:hover, .nav-linkk:hover {
    color:  #f8730e;
    cursor: pointer;
  }
  .hidden-nav {
    display: block;
  }
.navbar a {
  transition: color 0.3s ease;
}

.display-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 7%;
    padding-bottom: 100px;
}
.display-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 78%;
    max-width: 78%;
}
/*.profile-img{
    display: flex;
    flex: 0 0 40%;
    max-width: 45%;
    margin-top: 30px;
}
.display-profile-img{
    max-width: 100%;
    height: auto;
    margin: 0%;
}

*/
.display-content{
    padding: 15% 0% 0% 4%;
    font-size: x-large;
    position: relative;
}

.profile-text{
    font-size: 75px;
    margin-top: -5px;
    margin-bottom: 5px;
    color: black;
    font-weight:500;
     /*  text-shadow: 5px 5px 3px rgba(207, 207, 207, 0.737);
   text-shadow: none; */
    font-family: Impact, 'Rubik', sans-serif;
    word-spacing: 5.3px;
    letter-spacing: 1px;
    transition: color 0.2s ease-out; 
  }
  /* rgb(255, 79, 16) font-family: 'Rubik', sans-serif;*/
  .profile-text:hover{
    color:  black;
    cursor: pointer;
  }

.display-content p{
  font-weight: 500;
  font-size: 19px;
}

.profile-btn{
    background: transparent linear-gradient(90.17deg, #ED7600 5.06%, #E04411 96.04%) 0% 0% no-repeat;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    padding: 14px;
    padding-bottom: 11px;
    border-radius: 30px;
    margin-top: 13px;
    cursor: pointer;
    font-weight: 600;
    width: 161px;
    height: 20px;
    text-decoration: none;
    box-shadow:0  5px 5px 3px rgba(58, 58, 58, 0.1) ;
    font-family: 'Rubik', sans-serif;
}
.profile-btn:hover{
  letter-spacing: 0.2px;
}

.display-contact{
  display: block;
  position: absolute;
  left: 0px;
  top: 230px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 8px;
  box-shadow:0  5px 5px 3px rgba(58, 58, 58, 0.1) ;
}
.display-contact a{
  padding: 7px;
}
 .fa-linkedin, .fa-github, .fa-envelope{
  font-size: 28px;
}
/*Skills and Education*/
.container-SE{ 
  padding-right: 15px;
  padding-left: 35px;
  padding-bottom: 1.5rem; 
  padding-top: 1.25rem; 
  font-size: x-large; 
  background-color: white;
}
.container-SE-row{
  margin-right: auto;
  margin-left: 62px;
  display: flex;
  padding-bottom: 40px;
}
.container-Skill-row{
  flex:0 0 47%;
  margin: 15px 23px 15px 0px;
  padding: 20px;
  max-width: 55%;
}
.container-Skill-row #skill-child{
  display: flex;
  justify-content: center;
}
.container-Skill-row h3{
  color: rgb(37, 37, 37);
  font-family: 'Rubik', sans-serif;
}
.skills-row{
  display: flex;
  flex:0 0 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-sep{
  width: 43%;
}
.skills-roww{
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}

#skill-child p{
  line-height: 1.6;
}
.progress {
  width: 90%;
  background-color: rgb(221, 221, 221);
  border-radius: 4px;
  height: 6px;
  overflow: hidden;
}

.progress-child {
  height: 100%;
  background-color: #0bcf0be1; /* Progress bar color */
  width:  0;
}

.container-Edu-row{
  display: flex;
  flex-direction: column;
}
.container-Edu-row p{
  font-size: 17px;
  width: 98%;
}


.display-col{
  padding: 38px;
}

.display-col h4{
  text-decoration: underline;
}

.display-col h6{
  color: #6a6a70;
}

.linkedIn a{
  color:  #007bff;
}

/*Project */
.project-container{
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 38px;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 1.5rem; /* Adjust padding according to your design */
  padding-bottom: 1.5rem; /* Adjust padding according to your design */
  padding-top: 1.25rem;
  background-color: white;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1); 
}
.project-heading{
  color: rgb(37, 37, 37);
  font-family: 'Rubik', sans-serif;
  font-size: x-large;

}
  
.portfolio-container-row {
    display:flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    gap: 0.5rem; /* Adjust the gap according to your design */
    position: relative;
  }
  
.portfolio-item-col{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    max-width: 30%;
    margin:1.5rem 1rem;
}

.portfolio-img{
    margin: 1rem 1rem 1rem 0rem;
    position: relative;
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
    border-radius: 15px;
  }

.portfolio-img:hover{    
  transform: scale(1.05);
  background-color: #f5f5f5da;
  border-radius: 15px;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1);
}
.portfolio-title{
  font-size: 20px;
  font-weight: 700;
  color: rgb(37, 37, 37);
  font-family: 'Rubik', sans-serif;
}
.img-fluid{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/* for live projects future purpose
iframe{
  width: 520px;
  min-height: 450px;
}*/
.portfolio-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-btn a {
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    font-size: 24px;
    margin-left: 5.1rem;
    margin-right: 6rem;
  }

  .portfolio-btn a i {
    font-size: inherit;
  }
  .portfolio-item-col {
    position: relative;
  }
  
  .portfolio-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background-color: rgba(34, 35, 36, 0.651);
    color: white;
    font-family: 'Rubik', sans-serif;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.5s ease; /* Transition the opacity property over 0.3 seconds with ease-in-out timing function */
  }
  
  .portfolio-item-col:hover .portfolio-btn, .portfolio-item-coll:hover .portfolio-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Change opacity to 1 on hover */
  }
  
  .img-btn{
        color: #fff;
        }

.link::before {
    content: "view project"; 
    font-size: large;
    padding: 4px;
    background-color: #000000;
    border: 2px solid black;
    border-radius: 10px;
  }
.link-code::before{
  content: "view code";
  font-size: large;  
  padding: 4px;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 10px;
}


#rrrrr{
  position: relative;
}


.scroll-btn {
  position: absolute;
  top: 50%;
  right: 1%;
  width: 30px; /* Adjust button width */
  height: 30px; /* Adjust button height */
  background-color: white; /* Adjust button background color */
  border: 2px solid black; /* Adjust button border */
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: black;
  border-radius: 50%; /* Make button circular */
  cursor: pointer;
  z-index: 1; /* Ensure buttons appear above the project container */
}
#prev-btn{ 
  position: absolute;
  left: -1%;
  cursor: pointer;
  z-index: 1; 
}

  
#login1{
  margin-right: 10rem ;
}
/* Contact */
.contact-container{
  font-size: 19px;
  max-width: 1280px; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 1.5rem; /* Adjust padding according to your design */
  padding-bottom: 1.5rem; /* Adjust padding according to your design */
  padding-top: 1.25rem;
}

.col h2{
  color: rgb(37, 37, 37);
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
}

.contact-roww{
  display: flex;
  justify-content: space-between;
}
.contact-row{
  display: flex; 
}
.contact-row .col{
  flex:0 0 55%;
  max-width: 45%;
  padding: 20px;
}
.contact-row .col p, .contact-row .col hr{
  color:#6a6a70 ;
  font-size: medium;
}
.col-6{
    flex: 0 0 auto;
    width: 50%;

}
.contact-row .form-col .contact input, textarea{
  flex: 0 0 45%;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin: 10px;
}
input, textarea{
  border-radius: 5px;
}

input:focus,textarea:focus{
  outline: #fff;
  box-shadow: 0 0 10px  #383838;
}

.contact-button{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  width: 125px;
  margin: 10px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  background: transparent linear-gradient(90.17deg, #ED7600 5.06%, #E04411 96.04%) 0% 0% no-repeat;
  color: white;
  border-radius: 30px;
  cursor: pointer;   
  box-shadow:0  5px 5px 3px rgba(58, 58, 58, 0.1);
  border: none;
}
.contact-button:hover{
  letter-spacing: 0.2px;
}

.follow-row a {
  margin-right: 10px;
  text-decoration: none;
}

.follow-row a i {
  font-size: larger;
  margin-right: 5px;
}
/*follow icons*/
.linkedin i {  color: #0077B5; } /* LinkedIn icon color */
.instagram i { color: #E4405F; } /* Instagram icon color */
.youtube i { color: #FF0000; } /* YouTube icon color */
.github i { color: #211F1F; } /* github icon color */

/* footer*/
.footer-maincontainer{
  background-color: black;
  color: white;
  padding: 20px 100px 20px 100px;
}

.footer-container .col a{
  color:#9a9a9a ;
}

.footer-container{
  display: flex;
  justify-content: space-between;
}



/*mobile version*/
@media (max-width: 767px) {
  /*navigationn bar*/
  nav{ 
    padding: 15px;
    justify-content: space-around;
  }
  .nav-item, .nav-logo{
    display: inline;
    padding: 0;
    margin: 0;
  }
      
  .nav-link{
    padding: 0;
    padding-left: 4.6px;
    color: var(--dark);
    font-size: 13px;
    font-weight: 700;
    outline: none;
    text-decoration: none;
  }
  .navbar-flex{
    justify-content: center;
  }

  .nav-linkk{
    display: none;
  }
  
/*introdution or profile*/
.container{
  padding-top: 22px;
}

  .display-profile{
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}
.display-content{
  padding: 15% 0% 0% 0%;
  font-size: small;
}
.profile-text{
  font-size: 28.3px;
  font-family: 'Acme', 'Oswald',  Impact,'Rubik',  sans-serif;
  margin-left: -15px;
  color: black;
  font-weight: bolder;
  text-shadow: none;
}

.display-content{
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 99%;
  padding: 15% 0% 0% 0%;
  margin: 8px 0 0 3%;
}
.display-content p{
  font-size: 16.6px;
  max-width: 97%;
  margin-left: 2.7%;
  color: black;
}
.profile-btn{
  font-size: 12.8px;
  padding: 13px;
  padding-bottom: 8px;
  margin-top: 5px;
  margin-right: 24px;
  width: 130px;
  align-self: center;
  cursor: pointer;
  box-shadow:0  5px 5px 3px rgba(58, 58, 58, 0.1) ;
  font-family: 'Rubik', sans-serif;
}
.profile-btn:hover{
  letter-spacing: 0.1px;
}
.display-contact{
  display: none;
}

/* .profile-img{
  display: flex;
  flex: 0 0 90%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

 .display-profile-img{
  max-width: 74%;
  height: auto;
  margin: 5%;
}
skills*/
.container-SE{ 
  padding-right: 15px;
  padding-left: 0px;
  font-size: medium;
}
.container-SE-row{
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.container-Skill-row{
  flex:0 0 100%;
  margin: 15px 5px 15px 0px;
  max-width: 100%;
}
.container-Skill-row h1{
  padding-top:15px ;
  font-size: large;
}

.display-col{
  padding:0px 0 0 0px;
  margin-left:0px;
}

.display-col h4{
  font-size: 15px;
  text-decoration: underline;
}
.container-Edu-row{
  width: 105%;
}

.container-Edu-row p{
  font-size: 15px;
}


.skills-row{
  display: flex;
  justify-content: space-between;
  max-width: 103%;
}
/*project*/

.project-heading{
  font-size: large;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 8px;
}

.portfolio-container-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  gap: 0.8rem; /* Adjust the gap according to your design */
}

.portfolio-item-col{
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
   max-width: 94%;
   margin:1.3rem 1.3rem;
}
.portfolio-item-colL{
  max-width: 80%;
  margin:1.3rem 2.7rem;}

.portfolio-title{
  font-size: medium;
  font-weight: 700;
}
.portfolio-img{
  position: relative;
  overflow: hidden;
  width: 90%;
}
.portfolio-img:hover{
  background-color: #f5f5f5da;
  border-radius: 1px;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1); 
}
.img-fluid{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.portfolio-btn a {
  text-decoration: none;
  display: inline-block;
  margin: 22px;
  padding: 4px;
  font-size: small;
}
.portfolio-item-colL .portfolio-btn a {
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  padding: 4px;
}

.link::before {
  content: "view project"; 
  font-size: medium;
  padding: 4px;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 10px;
}
.link-code::before{
content: "view code";
font-size: medium;
background-color: #000000;
border: 2px solid black;
border-radius: 10px;
}

.scroll-btn{
  display: none;
}
/*contact*/
.contact-container{
  font-size: medium;
  margin-left: -12px;
}
.contact-row{
  display: flex; 
  flex-direction: column-reverse;
}
.contact-row .col{
  flex:0 0 95%;
  max-width: 90%;
  padding: 20px;
}
.contact-row .col p, .contact-row .col hr{
  color:#6a6a70 ;
  font-size: small;
}
.contact-roww .col h1{
  font-size:large;
}
.contact-row .form-col .contact input, textarea{
  flex: 0 0 95%;
  width: 90%;
  max-width: 100%;
  padding: 15px;
  margin: 10px;
}

.contact-button{
  width: 110px;
  padding: 7px;
  font-size: 12px;
  margin: 8px;
  cursor: pointer;
  box-shadow:0  5px 5px 3px rgba(58, 58, 58, 0.1) ;
  font-family: 'Rubik', sans-serif;
}
.contact-button:hover{
  letter-spacing: 0.25px;
}
/* footer*/
.footer-maincontainer{
  background-color: black;
  color: white;
  padding: 16px 25px;
  font-size: small;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles */
  .nav-linkk{
    display: none;
  }
  .profile-text{
    font-size: 32px;
    font-family:  'Acme', 'Oswald',  Impact, sans-serif;
    font-weight: 600;
  }
  /*.profile-img{
    display: flex;
    flex: 0 0 49%;
    max-width: 53%;
    margin-top: 30px;
}

.display-profile-img{
    width: 100%;
    height: auto;
    margin: 0%;
}*/

.display-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 88%;
  max-width: 88%;
}

.display-content p{
  font-size: medium;
  width: 50%;
  margin-left: 1.35%;
}
  /*skills*/


.container-SE{ 
font-size: medium;
width: 100%;
}
.container-SE-row{
display: flex;
padding-bottom: 40px;
}
.container-Skill-row{
flex:0 0 50%;
margin: 15px 5px 15px -12px;
max-width: 100%;
}
.container-Edu-row p{
font-size: 14px;
}
  /*project*/
  .portfolio-item-col{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
     max-width: 40%;
     margin:0.9rem 1.88rem;
  }
  .portfolio-item-colL{
    max-width: 40%;
    margin:0.9rem 2rem;
  }

    .project-container{ 
      max-width: 1400px; 
      margin-right: 20px;
      margin-left: 40px;
      padding: 12px;
      min-width: 97.5%;
    }

    
    .project-heading{
      font-size: 21px;
    }

    

    .portfolio-title{
      font-size: large;
    }
    

    .portfolio-btn a {
      text-decoration: none;
      display: inline-block;
      margin: 22px;
      padding: 4px;
      font-size: small;
    }
    .portfolio-item-colL .portfolio-btn a {
      text-decoration: none;
      display: inline-block;
      margin: 20px;
      padding: 4px;
    }
    
    .link::before {
      content: "view project"; 
      font-size: medium;
      padding: 4px;
      background-color: #000000;
      border: 2px solid black;
      border-radius: 10px;
    }
    .link-code::before{
    content: "view code";
    font-size: medium;
    background-color: #000000;
    border: 2px solid black;
    border-radius: 10px;
    }

    /*contact*/
    .contact-roww .col h1{
      font-size: 40px;
    }
    
    .footer-maincontainer{
      width: 88%;
    }


}

