
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;

    background-color: rgb(249, 248, 248);
}
/*navigationn bar*/
nav{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #2c2c2c;
    box-shadow: 0 4px 13px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    z-index: 1;

}
.navbar-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }
.nav-item, .nav-logo, .nav-link{
    display: inline;
    margin: 0 10px;
    padding: 20px 15px;
    color: rgb(44, 44, 44);
    font-size: 15px;
    font-weight: 600;
    outline: none;
    text-decoration: none;
}
.nav-linkk{
  display: inline;
  margin: 0 10px;
  padding: 20px 15px;
  color: rgb(44, 44, 44);
  font-size: 17px;
  font-weight: 700;
  outline: none;
  text-decoration: none;
}
.nav-item{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.nav-item img{
  width: 30px;
  margin: 0%;
  padding: 0%;
}
.nav-logo{
    margin-left: 10px;
    color: black;
    padding: 14px 16px;
    font-size: 18px;
}

  .navbar a:hover {
    color: #0eb5ecf7;
    cursor: pointer;
  }
  .hidden-nav {
    display: none;
  }
.navbar a {
  transition: color 0.3s ease;
}

.display-profile{
    display: flex;
    flex-direction: row;
}
.display-content{
    display: flex;
    flex-direction: column;
    flex: 0 0 49%;
    max-width: 55%;
}
.profile-img{
    display: flex;
    flex: 0 0 40%;
    max-width: 45%;
    margin-top: 30px;
}

.display-profile-img{
    max-width: 100%;
    height: auto;
    margin: 0%;
}

.display-content{
    padding: 15% 0% 0% 7%;
    font-size: x-large;
}

.profile-text{
    font-size: 61px;
    margin-top: -5px;
    margin-bottom: 5px;
    color: #333333;
    font-weight:bolder;
    text-shadow: 5px 5px 3px rgba(162, 210, 255, 0.737); 
    font-family: 'Poppins', sans-serif;
  }

.display-content p{
  color: #3f3f3f;
  font-weight: 500;
  font-size: 21px;
}

.profile-btn{
    background-color: #04bcf9;
    color: white;
    font-size: 15px;
    padding: 14px;
    padding-bottom: 11px;
    border: 2px outset #04bcf9;
    border-radius: 12px;
    margin-top: 13px;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(30, 31, 31, 0.55); 
    width: 161px;
    height: 20px;
    text-decoration: none;
    box-shadow:0  5px 5px 3px rgba(0, 0, 0, 0.1) ;
}
.profile-btn:hover{
    background-color: #19c4fd;
}
/*Skills and Education*/
.container-SE{ 
  max-width: 1280px; 
  margin-right: auto;
  margin-left: 62px;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem; 
  padding-top: 1.25rem; 
  font-size: x-large;
}
.container-SE-row{
  display: flex;
  padding-bottom: 40px;
}
.container-Skill-row{
  flex:0 0 47%;
  margin: 15px 23px 15px 0px;
  padding: 20px;
  max-width: 55%;
}
.container-Skill-row #skill-child{
  display: flex;
  justify-content: center;
}
.skills-row{
  display: flex;
  flex:0 0 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-sep{
  width: 43%;
}
.skills-roww{
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}

.progress {
  width: 90%;
  background-color: #dededee1;
  border-radius: 4px;
  height: 6px;
  overflow: hidden;
}

.progress-child {
  height: 100%;
  background-color: #4caf50; /* Progress bar color */
  width:  0;
}

.container-Edu-row{
  display: flex;
  flex-direction: column;
}
.container-Edu-row p{
  font-size: 17px;
  width: 98%;
}


.display-col{
  padding: 38px;
}

.display-col h4{
  text-decoration: underline;
}

.display-col h6{
  color: #6a6a70;
}

.linkedIn a{
  color: #04bcf9;
}

/*Project */
.project-container{
  max-width: 1400px; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 1.5rem; /* Adjust padding according to your design */
  padding-bottom: 1.5rem; /* Adjust padding according to your design */
  padding-top: 1.25rem;
  background-color: white;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1); 
}
.project-heading{
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 2.5rem;
}
  
.portfolio-container-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    gap: 0.5rem; /* Adjust the gap according to your design */
  }
  
.portfolio-item-col{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    max-width: 30%;
    margin:1.5rem 1rem;
}

.portfolio-item-coll{
  max-width: 450px;
  margin:1.5rem 0rem;
}

.portfolio-img{
    position: relative;
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
    border-radius: 15px;
    margin-top: 10px;
  }

  .portfolio-imgg{
    object-fit: cover;
    margin: 2rem;
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
  }

  .portfolio-imgg:hover{
    margin: 2rem;
    transform: scale(1.05);
    background-color: #f5f5f5da;
    border-radius: 15px;
    box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1); 
  }

.portfolio-img:hover{
  transform: scale(1.05);
  background-color: #f5f5f5da;
  border-radius: 15px;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1); 
}
.portfolio-title{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
/* for live projects future purpose
iframe{
  width: 520px;
  min-height: 450px;
}*/
.portfolio-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-btn a {
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    font-size: 24px;
    margin-left: 5.1rem;
    margin-right: 6rem;
  }

  .portfolio-btn a i {
    font-size: inherit;
  }
  .portfolio-item-col {
    position: relative;
  }
  
  .portfolio-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background-color: rgba(34, 35, 36, 0.651);
    color: white;
    font-family: 'Rubik', sans-serif;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 0.5s ease; /* Transition the opacity property over 0.3 seconds with ease-in-out timing function */
  }
  
  .portfolio-item-col:hover .portfolio-btn, .portfolio-item-coll:hover .portfolio-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Change opacity to 1 on hover */
  }
  
  .img-btn{
        color: #fff;
        }

.link::before {
    content: "view project"; 
    font-size: large;
    padding: 4px;
    background-color: #000000;
    border: 2px solid black;
    border-radius: 10px;
  }
.link-code::before{
  content: "view code";
  font-size: large;  
  padding: 4px;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 10px;
}

  
#login1{
  margin-right: 10rem ;
}
/* Contact */
.contact-container{
  font-size: 19px;
  max-width: 1280px; 
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 1.5rem; /* Adjust padding according to your design */
  padding-bottom: 1.5rem; /* Adjust padding according to your design */
  padding-top: 1.25rem;

}

.contact-roww{
  display: flex;
  justify-content: space-between;
}
.contact-row{
  display: flex; 
}
.contact-row .col{
  flex:0 0 55%;
  max-width: 45%;
  padding: 20px;
}
.contact-row .col p, .contact-row .col hr{
  color:#6a6a70 ;
  font-size: medium;
}
.col-6{
    flex: 0 0 auto;
    width: 50%;

}
.contact-row .form-col .contact input, textarea{
  flex: 0 0 45%;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin: 10px;
}
input, textarea{
  border-radius: 5px;
}

input:focus,textarea:focus{
  outline: #fff;
  box-shadow: 0 0 10px  #04bcf9;
}
.contact-button{
  border: 2px outset #04bcf9;
  border-radius: 12px;
  padding: 10px;
  font-size: 14px;
  margin: 10px;
  font-weight: 700;
  background-color: #04bcf9;
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(30, 31, 31, 0.55); 
}
.contact-button:hover{
  background-color: #1ac6ff;
  border-color: #1ac6ff;
}

.follow-row a {
  margin-right: 10px;
  text-decoration: none;
}

.follow-row a i {
  font-size: larger;
  margin-right: 5px;
}
/*follow icons*/
.linkedin i {  color: #0077B5; } /* LinkedIn icon color */
.instagram i { color: #E4405F; } /* Instagram icon color */
.youtube i { color: #FF0000; } /* YouTube icon color */
.github i { color: #211F1F; } /* github icon color */

/* footer*/
.footer-maincontainer{
  background-color: black;
  color: white;
  padding: 20px 100px 20px 100px;
}

.footer-container .col a{
  color:#04bcf9 ;
}

.footer-container{
  display: flex;
  justify-content: space-between;
}



/*mobile version*/
@media (max-width: 767px) {
  /*navigationn bar*/
  nav{ 
    padding: 15px;
    justify-content: space-around;
  }
  .nav-item, .nav-logo{
    display: inline;
    padding: 0;
    margin: 0;
  }
      
  .nav-link{
    padding: 0;
    padding-left: 4.6px;
    color: var(--dark);
    font-size: 13px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
  }
  .navbar-flex{
    justify-content: center;
  }

  .nav-linkk{
    display: none;
  }
  
/*introdution or profile*/

  .display-profile{
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}
.display-content{
  padding: 15% 0% 0% 7%;
  font-size: small;
}
.profile-text{
  font-size: 26px;
  margin: 5px -2px;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(162, 210, 255, 0.737); 
}

.display-content{
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 95%;
  padding: 15% 0% 0% 9%;
}
.display-content p{
  font-size: medium;
}
.profile-btn{
  font-size: 12px;
  padding: 9px;
  padding-bottom: 5px;
  border: 2px outset #04bcf9;
  border-radius: 12px;
  margin-top: 5px;
  margin-right: 24px;
  cursor: pointer;
  width: 124px;
  align-self: flex-end;
}
.profile-img{
  display: flex;
  flex: 0 0 90%;
  max-width: 85%;
  margin-top: 30px;
}

.display-profile-img{
  max-width: 100%;
  height: auto;
  margin: 5%;
}
/*skills*/
.container-SE{ 
  font-size: medium;
  margin-left: 12px;
}
.container-SE-row{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.container-Skill-row{
  flex:0 0 100%;
  margin: 15px 5px 15px -12px;
  max-width: 100%;
}
.container-Skill-row h1{
  padding-top:15px ;
  font-size: large;
}

.display-col{
  padding:0px 0 0 28px;
  margin-left:0px;
}

.display-col h4{
  font-size: 15px;
  text-decoration: underline;
}
.container-Edu-row{
  width: 105%;
}

.container-Edu-row p{
  font-size: 15px;
}
/*project*/

.project-heading{
  font-size: large;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 2.5rem;
}

.portfolio-container-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  gap: 0.8rem; /* Adjust the gap according to your design */
}

.portfolio-item-col{
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
   max-width: 94%;
   margin:1.3rem 1.3rem;
}
.portfolio-item-colL{
  max-width: 80%;
  margin:1.3rem 2.7rem;}
.portfolio-title{
  font-size: medium;
  font-weight: 700;
}
.portfolio-img{
  position: relative;
  overflow: hidden;
  width: 90%;
}
.portfolio-img:hover{
  background-color: #f5f5f5da;
  border-radius: 1px;
  box-shadow: 0 4px 9px 4px rgba(0, 0, 0, 0.1); 
}
.img-fluid{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.portfolio-btn a {
  text-decoration: none;
  display: inline-block;
  margin: 22px;
  padding: 4px;
  font-size: small;
}
.portfolio-item-colL .portfolio-btn a {
  text-decoration: none;
  display: inline-block;
  margin: 20px;
  padding: 4px;
}

.link::before {
  content: "view project"; 
  font-size: medium;
  padding: 4px;
  background-color: #000000;
  border: 2px solid black;
  border-radius: 10px;
}
.link-code::before{
content: "view code";
font-size: medium;
background-color: #000000;
border: 2px solid black;
border-radius: 10px;
}
/*contact*/
.contact-container{
  font-size: medium;
  margin-left: -12px;
}
.contact-row{
  display: flex; 
  flex-direction: column-reverse;
}
.contact-row .col{
  flex:0 0 95%;
  max-width: 90%;
  padding: 20px;
}
.contact-row .col p, .contact-row .col hr{
  color:#6a6a70 ;
  font-size: small;
}
.contact-roww .col h1{
  font-size:large;
}
.contact-row .form-col .contact input, textarea{
  flex: 0 0 95%;
  width: 90%;
  max-width: 100%;
  padding: 15px;
  margin: 10px;
}
.contact-button{
  border: 2px outset #04bcf9;
  border-radius: 11.7px;
  padding: 7px;
  font-size: 12px;
  margin: 10px;
  background-color: #04bcf9;
  color: #fff;
  cursor: pointer;
}

/* footer*/
.footer-maincontainer{
  background-color: black;
  color: white;
  padding: 16px 25px;
  font-size: small;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet styles */
  .nav-linkk{
    display: none;
  }
  .profile-text{
    font-size: 32px;
  }
  .profile-img{
    display: flex;
    flex: 0 0 49%;
    max-width: 53%;
    margin-top: 30px;
}

.display-profile-img{
    width: 100%;
    height: auto;
    margin: 0%;
}

  /*skills*/
.container-SE{ 
font-size: medium;
margin-left: 12px;
}
.container-SE-row{
display: flex;
padding-bottom: 40px;
}
.container-Skill-row{
flex:0 0 50%;
margin: 15px 5px 15px -12px;
max-width: 100%;
}
.container-Edu-row p{
font-size: 14px;
}
  /*project*/
  .portfolio-item-col{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
     max-width: 40%;
     margin:0.9rem 1.88rem;
  }
  .portfolio-item-colL{
    max-width: 40%;
    margin:0.9rem 2rem;}

    .project-container{ 
      max-width: 1400px; 
      margin-right: 20px;
      margin-left: 40px;
      padding: 12px;
      min-width: 97.5%;
    }

    .project-heading{
      font-size: 40px;
    }

    

    .portfolio-title{
      font-size: large;
    }
    

    .portfolio-btn a {
      text-decoration: none;
      display: inline-block;
      margin: 22px;
      padding: 4px;
      font-size: small;
    }
    .portfolio-item-colL .portfolio-btn a {
      text-decoration: none;
      display: inline-block;
      margin: 20px;
      padding: 4px;
    }
    
    .link::before {
      content: "view project"; 
      font-size: medium;
      padding: 4px;
      background-color: #000000;
      border: 2px solid black;
      border-radius: 10px;
    }
    .link-code::before{
    content: "view code";
    font-size: medium;
    background-color: #000000;
    border: 2px solid black;
    border-radius: 10px;
    }

    /*contact*/
    .contact-roww .col h1{
      font-size: 40px;
    }
    
    .footer-maincontainer{
      width: 88%;
    }


}

